<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>? Garden Exchange ?</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div>
                <p>Welcome to the {{name}} garden!</p>
                <p> This garden is owned by: {{owned}}</p>
                <p> This garden currently has {{produce1}},{{produce2}},{{produce3}}</p>
                <p>This garden currently has {{membercount}} members </p>
                <p>This garden is located at {{address}}</p>
                <p> {{rating}} / 10 </p>
                <p>{{rating_count}} ratings</p>
            </div>
        </nav>

        
    </body>
</html>
