<!DOCTYPE html>
<html>
    <head>
        <title>? Garden Exchange ?</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
    	body { 
        	background-image: url("garden_backgnd.png");
        }
    	h1 {
        	background-color: lightgreen;
            text-align: center;
        }
        h2{border-color: honeydew;}
 		h2 {
        	text-align: center;
			background-color: floralwhite;	
        }
        h2.outset {border-style: outset;}
    </style>
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Garden Exchange Network</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="index.html">Home</a></li>
                    <li><a href="LoginPage.html">Member Activities</a></li>
                    <li><a href="garden.html">Your Garden</a></li>
                    <li><a href="map.html">Community Garden Map</a></li>
                </ul>
            </div>
        </nav>
		<h1>Mission Statement</h1>
        <h2 class="outset">Giving people the power to make healthier decisions by taking control of what they eat through social network gardens.</h2>
        
    </body>
</html>