<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Member Profile</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="MemberStyle.css">
        <script src="LoginJS.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="index.html"><img src="logo.png" style="height: 200%;"></a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="index.html">Home</a></li>
                    <li class="active"><a href="#">Member Profile</a></li>
                    <li><a href="garden.html">Your Garden</a></li>
                    <li><a href="map.html">Community Garden Map</a></li>
                </ul>
            </div>  
        </nav>
        
        <div id="MemberGreeting">
            <h1>Welcome to the Garden Exchange Network</h1>
        </div>
        <div id="MemberInfo">
            <p>Welcome back {{name}}</p>
            <p> Your currently own: {{owned}}</p>
            <p> You are currently a member of {{member}}</p>
            <p> {{rating}} / 10 </p>
            <p>{{rating_count}} ratings</p>
        </div>
    </body>
</html>
